html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar h1 {
  margin: auto;
  font-weight: 400;
}

.entry-word {
    font-size: 1.2em;
}

.entry-reading {
  padding: 0px 15px 0px 15px;
}
