<md-content layout-padding layout="row" layout-sm="column"> 
    <md-input-container>
        <label>Search term</label>
        <input ng-model="lc.text">
    </md-input-container>
    <md-button class="md-primary" ng-click="lc.lookup()" ng-disabled="lc.text==''">Search</md-button>
</md-content>

<md-content flex layout-padding>
    <section ng-repeat="dictionary in lc.dictionaryResults">

        <md-subheader>Results in {{dictionary.dictionaryName}}</md-subheader>

        <md-list>
            <md-list-item class="entry" ng-repeat="entry in dictionary.dictionaryEntries">
                <span class="entry-word">{{entry.word}}</span>
                <span class="entry-reading">[{{entry.reading}}]</span>
                <span class="entry-translation">{{entry.translation}}</span>
            </md-list-item>
        </md-list>
    </section>
</md-content>
